.banner-wrapper {
  font-family: 'Benton', sans-serif;
  background: var(--color-secondary-background, rgba(200,200,200,0.3));
  border-bottom: 1px solid var(--color-secondary-background-dark, #C8C8C8);
  box-shadow: 0px 0px 0px 1px var(--color-secondary-background-dark);
}

.banner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  h1 {
    font-family: 'Benton', sans-serif;
    font-weight: 400 !important;
    color: var(--color-secondary-text, black);
    font-size: x-large;
    padding-right: 10px;

    a { 
      color: var(--color-secondary-text-dark, black); 
      text-decoration: none;
      cursor: pointer;
    }
    a:last-child{ font-weight: 300; }

    bulib-search { min-width: 350px; }
  }
  
  > *:last-child { max-width: 450px; }
}