/* overall styling with padding and shadow */ 
.banner-wrapper {
  font-family: 'Benton', sans-serif;
  background: var(--color-secondary-background, rgba(200,200,200,0.3));
  border-bottom: 1px solid var(--color-secondary-background-dark, #C8C8C8);
  box-shadow: 0px 0px 0px 1px var(--color-secondary-background-dark);
  padding: 10px;
}

.banner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  font-size: larger;
  color: var(--color-secondary-text, black);
  
  /* overwrite font-weight for strong links */
  strong > a, a:first-of-type { font-weight: 500; }
  
  /* adjust the font, style, margins of site banner text/links */ 
  h1, span, strong {
    font-family: 'Benton', sans-serif !important;
    font-size: x-large;
    font-weight: 400; 

    a { 
      color: var(--color-secondary-text-dark, black); 
      text-decoration: none;
      cursor: pointer;
    }
  }

  /* ensure the bulib-search is displayed multi-row  */
  > *:first-child { margin-bottom: 10px; }
  > bulib-search { max-width: 550px; }
}