/* header grid and responsivensess */
.primary-navbar {
  display: flex;
  justify-content: space-between; 
  width: 100%;
}
.primary-navbar a { 
  color: white;
  text-decoration: none;
}
.primary-navbar a:hover {
  text-decoration: underline;
}

/* menu items */
.menu-items {
  text-align: center;
  justify-content: space-between;
}
.menu-items > li a, .menu-item { display: block; }
@media only screen and (max-width: 750px){ 
  .menu-items > li, .menu-item { display: none; }
  .hamburger { display: block !important; }
} 

/* assorted minor styles */ 
.menu-items { 
  padding-left: 0px; 
  display: flex;
  list-style: none;
}
.primary-nav-main li {
  padding-left: 15px; padding-right: 15px;
}

/* hamburger menu */
input.hamburger { 
  display: none;
  font-size: 3em; 
  margin-top: -15px;
  border: solid transparent 1px;
}
input.hamburger:checked { 
  text-decoration: none;
  color: white !important;
  border: solid white 1px; 
}

/* dropdown */ 
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

body {
  background-color: lightblue;
}

#nav-toggle { 
  position: absolute;
  opacity: 0;
  display: none;
}
#nav-toggle ~ .mobile-menu { display: none; }
#nav-toggle:checked ~ .mobile-menu { display: block; }
.mobile-menu {
  position: absolute; 
  right: -100%;
  top: 50px;
  overflow: visible;
  background-color: black;
  height: 100%;
  width: 250px; 
}
#nav-toggle:checked ~ .mobile-menu, #nav-toggle:checked ~ label {
  transform: translateX(250);
}
.hamburger {
  position: relative;
  display: none;
}
.hamburger label { 
  font-size: 2em; 
}