.header-wrapper {
  font-style: normal;
  font-size: 12px;
  font-weight: 700;
  padding: var(--padding-medium, 10px);
}

.primary-navbar {
  display: flex;
  align-items: center; 
  justify-content: space-between; 
  width: 100%;

  a, span, i {
    color: var(--color-primary-text-light, whitesmoke);
    text-decoration: none;
    font-weight: 700;
  }
  
  a:hover { text-decoration: underline; }
}

/* menu items */
.menu-items {
  text-align: center;
  justify-content: space-between;
  align-items: baseline;
  padding-left: 0px; 
  display: flex;
  list-style: none;
  text-transform: uppercase;
  
  li a, .menu-item { display: block; }
}

/* assorted minor styles */ 
.primary-nav-main {
  position: relative;
}
.primary-nav-main li {
  padding-left: var(--padding-medium, 10px); 
  padding-right: var(--padding-medium, 10px);
}
.top-right ul.menu-items > li {
  border: 1px solid var(--color-button-text, #cccccc);
  border-radius: 2px;
  background-color: var(--color-button-background-dark, #0B4473) !important;
  padding: 6px 12px;
  margin-left: var(--padding-medium, 10px) !important;
  white-space: nowrap;
  text-transform: none;
}

.none { display: none; }

/* dropdown */ 
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  justify-content: space-between;
  background-color: var(--color-primary-background, black);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

// unhide on hover
.dropdown:hover .dropdown-content { display: flex; }

// align the 'library-locations' dropdown
div.dropdown.menu-item { padding-top: 5px; }

// library list dropdown
.library-list {
  text-align: left;

  // make ul as wide as widest li
  width: max-content; /* chrome, safari */
  width: -moz-max-content; /* firefox */
  
  a { 
    text-transform: capitalize; 
    font-weight: lighter;
  }
  li { 
    padding-top: var(--padding-small, 5px); 
    padding-bottom: var(--padding-small, 5px); 
  }
  li:nth-child(odd){ background-color: var(--color-primary-background-light); }
}
