/* header grid and colors */
.primary-nav-left  { grid-area: hdr-lt; }
.primary-nav-main  { grid-area: hdr-md; }
.primary-nav-right { grid-area: hdr-rt; }

/* header grid and responsivensess */
.primary-navbar {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 15px;
  grid-template-areas:
    "hdr-lt hdr-lt hdr-rt hdr-rt hdr-rt hdr-rt"
    "hdr-md hdr-md hdr-md hdr-md hdr-md hdr-md";
}

/* medium-sized screen */
@media only screen and (min-width: 800px){
  .primary-navbar {
    grid-template-areas:"hdr-lt hdr-md hdr-md hdr-md hdr-rt hdr-rt";
  }
}

/* main menu items */ 
ul.nav-menu, ul.nav-submenu { list-style: none; padding-left: 0px; }
ul.nav-menu, ul.nav-submenu > li > a { color: white; }
ul.nav-menu { padding-left: 10px; }
ul.nav-menu > li { 
  float: left;
  position: relative;
  padding: 0px 10px; 
}
ul.nav-menu > li > a { 
  color: white; 
  display: block;
  
}
ul.nav-menu > li.active > a { color: #ffc20e; }
ul.nav-menu > li:hover > a { color: #f4d67a; }

.dropdown-header > .dropdown-content { 
  display: none; 
  background-color: grey;
  color: inherit;
}
.dropdown-header:hover > .dropdown-content { display: block; }
ul.dropdown-content {
  list-style: none;
  padding-left: 0px;
  z-index:100;
  position: relative;
}


/* assorted minor styles */ 
.primary-nav-main > ul { padding-left: 0px; }
.right { float:right; }