/* - tabs.css: shout out to [kyusuf](https://github.com/KenanYusuf/) for his [tutorial](https://kyusuf.com/post/completely-css-tabs/) - */

/* show/hide content based on currently selected input */
div.tabs {
  box-sizing: border-box;
  display: flex; 
  flex-wrap: wrap;
  background-color: var(--color-secondary-background); 
  border-radius: 5px;
  border: 1px solid var(--color-secondary-background-dark, #ccc);
}

/* hide radio buttons */
div.tabs > input { 
  position: absolute;
  opacity: 0;
}

/* tab header label */
div.tabs > label { 
  cursor: pointer;
  padding: 5px;
  width: 100%; 
}
div.tabs > input:checked + label {
  background-color: var(--color-secondary-background-light, #ccc);
  font-weight: bold;

  /* top and bottom border on small screens */
  border-top: 1px solid var(--color-secondary-background-dark, #ccc);
  border-left: none; border-right: none;
div.tabs > input + label:hover { background-color: var(--color-secondary-background-light, #ccc); }
div.tabs > input:first-child:checked + label { 
  border-top: none;
  border-left: none;
}


/* tab content */
div.tabs > div { 
  padding: 10px;
  border-top: 1px solid var(--color-secondary-background-dark, #ccc);
  display: none; 
  width: 100%;
}
div.tabs > input:checked + label + div { 
  background-color: white !important;
  display: block; 
}

@media only screen and (min-width: 400px) {
  div.tabs > input:checked + label {
    border-left: 1px solid var(--color-secondary-background-dark, #ccc);
    border-right: 1px solid var(--color-secondary-background-dark, #ccc);
    border-top: none;
    border-bottom: none;
  }
  div.tabs > input + label:first-of-type { border-top-right-radius: 0px; }
  div.tabs > label  { width: auto; }
  div.tabs > div { 
    order: 99; 
  }
}