/* adjustments to theme variables */
body { --color-primary-background: #212121; }

/* prevent overflow of footer width to 900px at small widths */
#footer { background-color: var(--color-primary-background, black) !important; }
#footer > div.container { 
  width: auto; 
  background-color: var(--color-primary-background, black);
}
#footer-content { float: inherit; }

/* firefox */
h3.style-scope.bulib-footer { color: var(--color-primary-text, white); }
li.style-scope.bulib-footer { 
  background-image: none; 
  color: var(--color-primary-text, white);
  margin: unset;
}

/* increase hours display size */ 
#hours-display { font-size: 100% !important; }


/* - floorplans - */

/* locate by floor styling */
div.locate-by-floor  { 
  /* display list horizontally */ 
  display: flex;
  flex-wrap: wrap;
  font-size: medium;

  /* style as a bordered, padded box */
  border: 1px solid var(--color-secondary-background-dark);
  background-color: var(--color-secondary-background-light);
  padding: 10px;
  padding-top: 20px;
}

/* assorted minor bits */
div.locate-by-floor strong { padding-right: 15px; }
div.locate-by-floor ul { margin-top: 0px; }
div.locate-by-floor a { text-decoration: underline; font-weight: bold; }
/* div.locate-by-floor ul.inline-list li { display: block; } */

/* protect dividers from getting styled by the legacy wordpress.css */ 
div.locate-by-floor ul li { 
  background: none;
  margin: unset;
}


/* floorplans: responsiveness */
@media only screen and (max-width: 400px){ 
  /* switch from horizontal list to vertical one */
  div.locate-by-floor ul.inline-list li, div.tabs ul.inline-list li { display: list-item; }
  div.locate-by-floor ul.inline-list li img, div.tabs ul.inline-list li img { display: none !important; }

  /* flatten multi-column display into single list on small screens */
  div.tabs ul.multi-column { 
    padding-left: 15px !important; 
    column-count: 1;
  }
  
  /* make the call-numbers */ 
  div.tabs #locate-resources { column-count: 2 !important; }
}