/* hide various */ 
.s-la-public-header-text, #s-la-page-title-bar, /* automatic headers */
  #s-la-page-title-bar .navbar, /* HIDE OTB SEARCH */
  div#slogan, #s-la-bc, /* slogan and breadcrumbs */
  #s-la-public-footer /* footer */
  { display: none; }

/* set header font */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Source Sans Pro', sans-serif;
}

/* unset random 'ol, ul' default that's messing with the header alignment */
ol, ul {
  margin-top: auto; 
  margin-bottom: auto;
}