.deck {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.card {
  flex: 2 4 270px; 
  display: flex;
  justify-content: space-between;
  max-width: 400px;
/*   border: 1px gainsboro solid; */
}
.card i { 
  font-size: 4em;
  margin: 0.2em;
  text-align: center;
  flex: 1;
}
.card i:hover { cursor: pointer; }

.card > div { 
  flex: 2;
}