/* -- buttons -- */

/* general/primary button */
a.bulib-btn, button.bulib-btn {
  display: inline-block;
  text-align: center;
  margin: var(--padding-small, 5px);
  padding: var(--padding-small, 5px) var(--padding-medium, 10px);
  color: var(--color-button-text, white) !important;
  text-decoration: none;
  background-color: var(--color-button-background-dark,#1b598c);
  border: 2px solid var(--color-button-background-dark, white);
  border-radius: 4px;
  box-shadow: 0 1px 1px 0 var(--color-secondary-background-dark,rgba(0,0,0,.1));
}
a.bulib-btn:hover, button.bulib-btn:hover { 
  cursor: pointer;
  filter: brightness(90%); 
}

/* .large button */
a.bulib-btn.large, button.bulib-btn { font-size: 102%; }
a.bulib-btn.large { padding: var(--padding-medium, 10px) var(--padding-large, 12px); }

/* secondary button */
a.bulib-btn.btn-secondary, button.bulib-btn.btn-secondary,
  a.bulib-btn.secondary, button.bulib-btn.secondary {
  background-color: var(--color-button-text-light, white);
  color: var(--color-button-background-dark, blue) !important;
  border: 2px solid var(--color-button-background-dark, blue);
}

/* light button */
a.bulib-btn.btn-light, button.bulib-btn.btn-light {
  background-color: var(--color-button-background, #257abe);
  color: var(--color-button-text, white);
  border: 2px solid transparent;
}
