/* -- cards -- */

.deck {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card {
  font-family: 'Noto Sans', sans-serif;
  flex-shrink: inherit;
  flex-basis: 100%;
  display: flex;
  max-width: 325px;
}
.card i { 
  color: #0B4473;
  font-size: 4em;
  margin: 0.2em;
  text-align: center;
  flex: 1;
}
.card i:hover { cursor: pointer; }
.card a { 
  font-size: x-large;
  color: #0B4473;
  text-decoration: underline solid #0B4473;
  font-weight: 500;
}

.card > div { flex: 2; }
