/* -- css-variables -- */
body {
  /* primary background (black) */
  --color-primary-background: #2D2926;
  --color-primary-background-light: #333333;
  --color-primary-background-dark: black;
  --color-primary-text: #e1e1e1;
  --color-primary-text-light: white;

  /* BU official red accent background [http://www.bu.edu/brand/guidelines/design/colors/] */
  --color-accent-red-background: #CC0000;
  --color-accent-red-background-dark: #A80000;
  --color-accent-orange-background: #BB7933;
  --color-accent-green-background: #147114;
  --color-accent-blue-highlight: #DCF3FF;
  --color-accent-blue-hover: rgba(51, 152, 187, 0.1); 
  --color-accent-text: whitesmoke;
  --color-accent-text-hover: white;

  /* colors communicating severity or importance */
  --color-severity-info-background: #E0FFFF;
  --color-severity-success-background: #b1f5cb;
  --color-severity-warn-background: #EDE49E;
  --color-severity-alert-background: lightsalmon; 

  /* button/call to action (blue) */
  --color-button-background: #257abe;
  --color-button-background-light: #639CC9;
  --color-button-background-dark: #1B598C;
  --color-button-background-accent: #06605A;
  --color-button-text: whitesmoke;
  --color-button-text-light: white;

  /* secondary background color (very light grey) */
  --color-secondary-background: #eeeeee /*rgba(200,200,200,0.3)*/;
  --color-secondary-background-light: #f5f5f5;
  --color-secondary-background-dark: #C8C8C8;
  --color-secondary-text: #333333;
  --color-secondary-text-dark: black;
}