/* -- padding and alignment -- */
.pam { padding: 10px; }
.ptl { padding-top: 15px; }
.left { float: left; }
.txtc { text-align: center; }
.inline { display: inline-block; }
.multi-column {
  column-gap: 5%;
  column-count: 2;
  padding-inline-start: 0px;
}

/* -- general styling -- */

/* list styles */
.no-bullet > li { list-style:none; }
.inline-list > li { display: inline; padding-right: 5px;}

/* '.white-link' used in footer */
a.white-link, a.white-link:active, a.white-link:visited {
  color: #e1e1e1;
  text-decoration: underline;
}
a.white-link:hover {
  color: white;
  text-decoration: underline;
}
