/* -- padding and alignment -- */
.pam { padding: 10px; }
.left { float: left; }
.txtc { text-align: center; }
.inline { display: inline-block; }
.multi-column {
  column-gap: 40px;
  column-count: 2;
  padding-inline-start: 0px;
}

/* -- general styling -- */

/* list styles */
.no-bullet > li { list-style:none; }
.inline-list > li { display: inline; padding-right: 5px;}

/* '.white-link' used in footer */
a.white-link, a.white-link:active, a.white-link:visited {
  color: white;
  font-weight: normal;
}
a.white-link:hover { font-weight: bold;}

/* etc */
.bu-logo { padding-right: 25px; }
