@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

/* -- pagewidth -- */
.header-wrapper, .footer-wrapper {
  background-color: #212121;
  color: white;
  padding: 2%;
  font-size: 105%;
  width: 100%;
}

/* on super large screens, set the width to avoid getting too much spacing */
@media only screen and (min-width: 1500px){
  footer, nav { margin: 0 auto; width: 85%; }
}


/* -- padding and alignment -- */
.pam { padding: 10px; }
.pvm { padding: 10px 0px; }
.phm { padding: 0px 10px; }
.phxl { padding: 0px 30px; }
.mvs { margin: 5px 0px; }
.ptl { padding-top: 15px; }
.left { float: left; }
.inline { display: inline-block; }
.multi-column {
  column-gap: 5%;
  column-count: 2;
}

/* -- general styling -- */

/* text */
.txtl { text-align: left; }
.txtc { text-align: center; }
.txtv { vertical-align: middle; }
.big-text { font-size: 110%; }


/* list styles */
ul.no-bullet { padding-left: 0em; }
.no-bullet > li { list-style:none; padding-left: 0em; }
.inline-list > li { display: inline; padding-right: 5px;}

/* '.white-link' used in footer */
a.white-link, a.white-link:active, a.white-link:visited {
  color: #e1e1e1;
  text-decoration: underline;
  font-weight: normal;
}
a.white-link:hover {
  color: white;
  text-decoration: underline;
  font-weight: normal;
}
