div.ctas { 
  display: inline-flex;
  align-items: center;
  justify-content: space-between; 
  width: 100%;
}
div.cta {
  vertical-align: middle !important;
  width: 100%;
  text-align: center;
  padding: 0.5em;
  background-color: verylightgray;
  border: 1px solid darkgrey;
}
div.cta:hover { background-color: gainsboro; }
div.cta > a > span > i {
  font-size: 3em;
  line-height: inherit;
  vertical-align: bottom; 
}