/* - general  - */
div.demo { 
  background-color: gainsboro;
  min-width: 100px;
  min-height: 100px;
}
.fill { width: 100%; height: 100%; }

/* - main with sidebar - */
div.main-with-sidebar { 
  display: flex !important;
  flex-wrap: wrap-reverse;
  width: 100%;
}
div.main-with-sidebar > section { 
  flex: 3;
  justify-content: center;
}
div.main-with-sidebar > aside {
  flex: 1;
  min-width: 250px;
}

/* - make divs display in a series of tiles - */
div.tiles {
  display: flex;
  grid-gap: 10px;
  flex-wrap: wrap;
}
div.tiles > * {
  margin: 5px;
}

/* - flexbox shortcut - */
.flexw, .bulib-row { display: flex; flex-wrap: wrap; }
.left { float: left; }
.inline { display: inline-block; }

/* - prepare footer to auto-margin itself to the bottom of the viewport - */
body {
  display: flex; 
  flex-direction: column; 
  min-height: 100vh;
}
