/* -- libguides (library.bu.edu/guides) -- */

/* decrease the default font-size of the announcement-banner */
body { --font-size-announce: unset; }

/* add some padding for the header and footer */
#s-lib-public-main {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

/* move footer to the bottom of the viewport */
#s-lib-footer-public { margin-top: auto; }

/* styling for the tags, staff login url, 'Powered by SpringShare' */
#s-lib-footer-public {
  font-size: small; 
  color: var(--color-primary-text, whitesmoke);
  background-color: var(--color-primary-background, black);
}
#s-lib-footer-public a { 
  font-weight: 700; 
  color: var(--color-primary-text, #B4BCC1);
  text-decoration: underline;
}
#s-lib-footer-public a:hover { 
  color: var(--color-primary-text-light, white); 
}

/* 'Get Help' box styling (contact-us) */
.get-help i { font-size: xx-large; padding-right: 8px; }
.get-help a { font-weight: 600; padding-right: 3px;  }
.get-help li span { vertical-align: middle; font-size: medium; }

.get-help.small i { font-size: large !important; padding-right: 4px; } 
.get-help.small span { font-size: small !important; padding-right: 0px; } 
.get-help.small li { padding-bottom: 5px; }

@media only screen and (max-width: 450px){ 
  .get-help i { font-size: large !important; padding-right: 4px; } 
  .get-help span { font-size: small !important; padding-right: 0px; } 
  .get-help li { padding-bottom: 5px; }
  .banner bulib-search { display: none; }
}


/* - A-Z Database list - */

/* enable mobile header to open above the rest of the page */
.s-lib-main, #s-lg-guide-main { z-index: unset !important; }

/* adjust breadcrumb size when added to the bulib custom banner */
.banner #s-lib-admin-bc .breadcrumb, .banner #s-lib-bc .breadcrumb { font-size: small; }

/* color the 'Clear Filters' button to make it stand out more */
#s-lg-az-search-reset button#s-lg-az-reset {
  background-color: var(--color-button-background, #639CC9);
  color: var(--color-button-text-light, white);
}

/* decrease horizontal padding between alpha_list */
#s-lg-az-index .btn-group>.btn-link { padding: 4.5px; }
#s-lg-az-index div.btn-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

/* remove set width restrictions for az-list filters */
.secondary-menu #s-lg-sel-az-types, 
  .secondary-menu #s-lg-sel-az-vendors, 
  .secondary-menu #s-lg-sel-subjects { 
    width: 100%; 
}

/* - Recurring Sidebar - */

/* replicate the side header styling to acheive parity/similar look&feel with templates */
.s-lib-public-side-header h2, div.dblist-sidebar h2, #dblist-sidebar-policy-map h2, 
  div#s-lg-az-cols #col2 h2, div#s-lg-index-cols #col2 h2 { 
    margin-top: 0 !important;
    font: 700 16px Arial,Geneva,Helvetica,sans-serif !important;
    border-bottom: 1px solid #a2a2a2 !important;
    color: #686868 !important;
}

/* add padding underneath the high-level divs */
div#s-lg-az-cols #col2 > div, div#s-lg-index-cols #col2 > div { 
  margin-bottom: var(--padding-xlarge, 30px);
}

/* equalize font sizes */
div#s-lg-index-cols #col2 .get-help span { font-size: unset; } 
div#s-lg-index-cols #col2 .get-help i { font-size: x-large; }