/* styling for the tags, staff login url, 'Powered by SpringShare' */
#s-lib-footer-public {
  font-size: small;  
  background-color: var(--color-secondary-background, white) !important;
  color: black !important;
  border-top: none;
}
.s-lib-footer a { font-weight: 700; }
.s-lib-footer a:hover { 
  text-decoration: underline;
  color: var(--color-secondary-text-dark, #B4BCC1) !important; 
}

/* 'Get Help' box styling (contact-us) */
.get-help i { font-size: xx-large; padding-right: 8px; }
.get-help a { font-weight: 600; padding-right: 3px;  }
.get-help li span { vertical-align: middle; font-size: medium; }

.get-help.small i { font-size: large !important; padding-right: 4px; } 
.get-help.small span { font-size: small !important; padding-right: 0px; } 
.get-help.small li { padding-bottom: 5px; }

@media only screen and (max-width: 450px){ 
  .get-help i { font-size: large !important; padding-right: 4px; } 
  .get-help span { font-size: small !important; padding-right: 0px; } 
  .get-help li { padding-bottom: 5px; }
}

/* enable mobile header to open above the rest of the page */
.s-lib-main, #s-lg-guide-main { z-index: unset; }
