  /* -- General (all) -- */

  /* hide various */ 
  .s-la-public-header-text, /* hide automatic headers (replaced by banner text) */
    #s-la-page-title-bar, #s-la-page-title-bar .navbar, /* hide out-of-the-box search/browse banner */
    div#slogan, #s-la-bc, /* slogan and breadcrumbs */
    #s-la-public-footer /* footer */
    { display: none; }

  /* set header font */
  h2, h3, h4, h5, h6, body {
    font-family: 'Source Sans Pro', sans-serif;
  }

  /* unset random 'ol, ul' default that's messing with the header alignment */
  ol, ul {
    margin-top: auto; 
    margin-bottom: auto;
  }


  /* -- FAQ page (/faq/) -- */

  /* general libanswers box */
  .s-la-box-content { 
    padding-left: 8%;  padding-right: 8%; 
    padding-top: 4%;  padding-bottom: 4%;
  }
  .s-la-box-container { 
    border-radius: 4px; 
    margin-left: 15px; 
    margin-right: 15px;
  }

  /* FAQ - question and answer box */ 
  .s-la-faq-answer { font-size: large; } /* increase font size of answer */
  .question-title-bar h2 { font-size: xx-large; } /* greatly increase question title */
  .question-title-bar .s-la-faq-owner, .question-title-bar .s-la-faq-updated { font-size: medium; }
  .question-title-bar {
    display: flex !important;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  

  /* -- SEARCH page (/search) -- */

  /* hide the 'submit your question' section/button */
  #s-srch-results-container .s-srch-askbutton { display: none; }   

  /* increase the width of the search results section */
  #s-srch-source-0 > div > div.col-md-9 { width: 100% !important; }
  #s-srch-source-0 > div > div.col-md-3 { display: none; }  

  /* hide the bottom 'Showing 0 - 0 (of 0) */
  #s-la-box-66294-container { display: none; }

  /* increase font size of search results */
  .s-srch-result-title { font-size: 2em; font-weight: 500; }
  .s-srch-result-meta { font-size: 1.3em; }

  /* label colors */
  .s-srch-result-title a { color: #0B4473; }
  .s-srch-result-subj > ul > li > span.label.label-default {
    color: white;
    background-color: #06605A; 
    font-size: 0.9em;
    font-weight: 400;
  }