.footer-wrapper{
  background-color: #212121;
  color: white;
}

/* footer grid and colors */
footer {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-auto-rows: minmax(50px, auto);
  grid-template-areas:
    "ftr-md ftr-md ftr-md ftr-md ftr-md ftr-md ftr-md ftr-md"
    "ftr-rt ftr-rt ftr-rt ftr-rt ftr-rt ftr-rt ftr-rt ftr-rt"
    "ftr-lt ftr-lt ftr-lt ftr-lt ftr-lt ftr-lt ftr-lt ftr-lt";
  grid-gap: 10px;
}

/* medium-sized screen */
@media only screen and (min-width: 600px){
  footer {
    grid-template-areas:
      "ftr-md ftr-md ftr-md ftr-md ftr-md ftr-md ftr-md ftr-md"
      "ftr-lt ftr-lt ftr-lt ftr-rt ftr-rt ftr-rt ftr-rt ftr-rt";
  }
  .ftr-middle { border-bottom: solid transparent 1px; }
  .ftr-right  { border-bottom: solid transparent 1px !important; }
}

/* large-sized screen */
@media only screen and (min-width: 1240px /* 850px */){
  footer {
    grid-template-areas: "ftr-lt ftr-lt ftr-md ftr-md ftr-md ftr-rt ftr-rt ftr-rt";
  }
  .ftr-middle { border-bottom: solid transparent 1px !important; }
  .ftr-right  { border-bottom: solid transparent 1px !important; }
}

/* on super large screens, set the width to 80% to avoid getting too much spacing */
@media only screen and (min-width: 1500px){
  footer { 
    margin: 0 auto;
    width: 80%;
  }
}

/* map classes to grid areas */
.ftr-left   { grid-area: ftr-lt; border-bottom: solid transparent 1px; padding-bottom: 20px; }
.ftr-middle { grid-area: ftr-md; border-bottom: solid lightgrey 1px; }
.ftr-right  { grid-area: ftr-rt; border-bottom: solid lightgrey 1px; }
.ftr-left > div, .ftr-middle > div, .ftr-right > div { margin: 6%; }

/* etc */
.bu-logo { padding-right: 25px; }
bulib-footer > * > ul, bulib-footr > * > ol { margin-top: 5px; margin-bottom: 5px; }
